{{template "base" .}}

    {{define "content"}}

    <title> Home </title>

        <div class = "container">
            <div class = "row">
                <div class = "col">

                    <h1>My Home Page</h1>
                    <p>This is Home page<p>
                    <p> This message is sent from template data {{index .StringMap "greeting"}} </p>

                </div>    
            </div>
        </div>

{{end}}